<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="new-blog" ">
        <form action="/blogs/new " method="get ">
            <button class="btn " type="submit ">Add Blog</button>
        </form>
    </div>
    
    <%for(let blog of blogs){%>
        <div class="blog-box ">
            <h3>
                <%= blog.title %>
            </h3>
            <div>
                <h4>Author :
                    <%= blog.author %>
                </h4>

                <p>
                    Created on:
                    <%= blog.createdAt.toLocaleString() %>
                </p>
            </div>


            <div class="tags ">
                <span class="tag-span ">Tags : </span>
                <% for(let tag of blog.tags){%>
                    <span>
                    <%= tag %>
                </span> &nbsp;&nbsp;&nbsp;
                    <%}%>
            </div>
            <br>
            <a class="read-more " href="/blogs/<%=blog._id %>">Read more...</a>
        <br><br>
        <form action="/blogs/<%=blog._id %>/edit" method="get">
            <button class="btn" type="submit">Edit</button>
        </form>
        <br>
        <form action="/blogs/<%=blog._id %>/destroy" method="get">
            <button class="btn" type="submit">Delete</button>
        </form>
    </div>
    <!-- <hr> -->
    <%}%>


</body>

</html>